body {
    background-image: linear-gradient(rgba(0,0,0,0.8) 15%, rgba(249,164,17,1) 15%);
}

div {
    position: fixed;
    top: 0px;
    left: 0px;
    text-align: center;
    width: 100%;
    padding: 1% 0% 1% 0%;
    margin: 0% 0% 0% 0%;
       background-color: #262626;
    right: 0px;
    opacity: 75%;
}

html{
scroll-behavior: smooth;
}

h1.proposh1 {
 text-align: center;
    font-size: 200%;
}

p.rcopy {
 position: fixed;
    left: 1%;
    bottom: 0%;
    color: white;
}

p.proposp {
 text-align: center;
    font-size: 100%;
}

hr {
 background-color: gray;
    height: 1px;
    margin: 0% 40% 0% 40%;
    border: none;
}

h1.title {
 text-align: center;
    font-size: 400%;
    margin-top:3%;
    color:rgb(249,164,17);
}

h3.animaux {
    text-align: center;
    font-size: 400%;
    margin-top:3%;
    color:rgb(52,52,52);
}

h2 {
 text-align: center; 
        color: #b3b3b3;
    text-align: center;
    font-family: royal;
  transition: all 0.2s ease-in-out;
    font-size: 150%;
}

p.acceuiltxte {
    text-align: center;
    color:rgb(249,164,17);
}

img.acceuilimg {
    text-align: center;
    margin-left: 45% ;
}

h4 {
    text-align: center; 
        color:rgb(52,52,52);
    text-align: center;
    font-family: royal;
    font-size: 250%; 
}

p.williamp {
      text-align: center; 
        color:rgb(52,52,52);
    text-align: center;
    font-family: royal;
    font-size: 150%;  
    margin: 0% 5% 0% 5%;
}

p.yanip {
      text-align: center; 
        color:rgb(52,52,52);
    text-align: center;
    font-family: royal;
    font-size: 150%;  
    margin: 0% 5% 0% 5%;
}

img.imgwilliam {
     display: block;
  margin-left: auto;
  margin-right: auto;
    width: 35%;
    border-bottom: solid 4px rgb(52,52,52);
}

img.imgyani {
     display: block;
  margin-left: auto;
  margin-right: auto;
    width: 35%;
    border-bottom: solid 4px rgb(52,52,52);
}

h5.proposh5 {
 color: red;
    text-align: center;
}

h6.proposh6 {
 color: red;  
    text-align: center;
}

h1 {
 color: white;   
}

@font-face {
  font-family: royal;
  src: url(Quicksand-VariableFont_wght.tff);
}

h2:hover {
    color: rgb(249,164,17);
}

.gl {
 width: 2%;
    height: 2%;
     transition: all 0.2s ease-in-out;
}

.glow {
 padding: 0% 5% 0% 5%;   
}

